
*.vsidx
*.lock
*.db-shm
*.db-wal
*.opendb
*.db
*.sqlite
*.ini
win_bison.exe
win_flex.exe
REGEN.bat
FlexLexer.h
*.md
*.css
*.mk
*.m4
*.cc
*.d
*.java
*.hh
*.xsl
data/skeletons/glr.c
data/skeletons/yacc.c
